<div class="container jumbotron text-center">
	<h1>Santa Barbara Adult Literacies Initiative</h1>
	<p>We're a team of entrepreneurs, educators, and scientists creating a self-contained, English literacies program to ensure upward mobility and success for all adults.</p>
	<p>Sign up for our weekly news letter to follow the journey</p>

	<%= render 'application/mailchimp' %>
	
</div>
<!--
<div class="container">
	<h1> About me:</h1>
	<div class="row">
		<div class="col-sm-5">
			<%= image_tag "alex.jpg", class: "biopic" %>
		</div>
		<div class="col-sm-5">
			<p>Alex Kehaya is an entrepreneur and educator with 5 years of experience working with startups and developing innovative entrepreneurial studies curriculums for schools.</p> 
			<p>His profound passion for education and entrepreneurship inspired him to pioneer a curriculum based on lean startup methods and Steve Blanks’ Lean Launchpad for middle schools and high schools. He has hands on experience as a founder and as a market validation expert working with startups and innovation departments to help bring new ideas to market. </p>
		</div>
		<div class="col-sm-2">
		</div>
	</div>

</div>

