<div class="container">	
	<h1>Meet Our Team</h2>
	<div class="row">
		<div class="col-md-3">
			<%=image_tag("alex.jpg", class: "biopic", alt: "Alexander Kehaya")%>
		</div>
		<div class="col-md-3">
			Alex is an entrepreneur and educator with 5 years of experience working with startups and developing innovative entrepreneurial studies curriculums for schools. His profound passion for education and entrepreneurship inspired him to pioneer a curriculum based on lean startup methods and Steve Blanks’ Lean Launchpad for middle schools and high schools. He has hands on experience as a founder and as a market validation expert working with startups and innovation departments to help bring new ideas to market. 
		</div>	
		<div class="col-md-3">
		</div>	
		<div class="col-md-3">
		</div>		
	</div>	
</div>

